body{
    background-color: black;
    color: #fff;
    font-size: 18px;
}
ul, li{
   list-style: none; 
   margin: 0;
   padding: 0;
}
a{
    color: #fff;
}
.singleSong{
    margin-top: 2em;
}
#page {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
}
.header__baner{
margin-bottom: 2em;
}
.grid.grid--three{
    display: grid;
}

.card.song{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
}
.hero-section.text-center{
    margin-bottom: 2em;
}

@media (min-width: 570px) {
    #page {
        max-width: 520px;
    }
}
@media (min-width: 950px) {
    #page {
        max-width: 720px;
    }
    .grid.grid--three{
        grid-template-columns:1fr 1fr 1fr; 
       
}
@media (min-width: 1200px) {
    #page {
        max-width: 920px;
    }
    
}