body {
  background-color: #000;
  color: #fff;
  font-size: 22px;
}
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: rgb(214, 214, 214);
  text-decoration: underline;
}
.singleSong {
  margin-top: 2em;
}
.login-bar{
  margin-bottom: 1em;
}
.header__menuItem{
  margin-bottom: 1em;
}
.header__menuItem i{
  margin-right: .5em;
}
#searchForm{
  display: flex;
}
#searchForm .btn--sub{
  margin-left: 1em;
}
.song-img{
  width: 100%;
  object-fit: cover;
    overflow: hidden;
}
.card-body{
font-size:20px;
}
.three--song{
  border: 1px solid rgb(104, 104, 104);
  border-radius:  .4em;
  overflow: hidden;
  padding-bottom: .7em;
}
.card-body{
  padding: 0 .5em;
}
#page {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
}
.header__baner {
  margin-bottom: 2em;
}
.grid.grid--three {
  display: grid;
  gap: 1em;
}
.card.song {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
}
.hero-section.text-center {
  margin-bottom: 2em;
}
.item--head {
  display: flex;
}
.item-wrapper {
  display: flex;
}
.item-title{
  flex: 1 0 30%;
}
.item-update {
  flex: 0 0 20%;
}
.item-delete {
  flex: 0 0 20%;
}
.singleSong_playlist{
  position: relative;
}
.login-bar{
  display: flex;
  flex-direction: row-reverse;
}
#form_add_to_list{
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

@media (min-width: 570px) {
  #page {
    max-width: 520px;
  }
}
@media (min-width: 950px) {
  #page {
    max-width: 720px;
  }
  .grid.grid--three {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1200px) {
    #page {
      max-width: 920px;
    }
  }
}
