{% extends 'main.html' %} {% block content %}

<!-- Main Section -->
<main class="singleSong">
  <div class="container">
    <div class="layout">
       <div class="column">
        
        <div class="singleSong_author">
          <a href="/"><i class="fa-solid fa-backward"></i> go back</a>
         </div>
       
      </div>
       <div class="column">
         {% if  song.imageUrl %} <img src="{{song.imageUrl}}" alt="{{song.song_title}}" style="max-width:500px">{% endif %}
        
        <h3 class="singleSong__subtitle">{{song.song_title}}</h3>
        <div class="singleSong_author">
          {% if song.author %}
          <span>{{song.author}}</span>
          {% endif %}
        </div>
        <div class="singleSong_addToList">
          {% if user.is_authenticated %}
          <form class="form" action="{% url 'song' song.id %}" method="POST">
            {% csrf_token %}            
            <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
            <div class="modal">
              {% for field in form %}
              <div class="form__field">
                  <label for="formInput#textarea">{{field.label}}</label>
                  {{field}}
              </div>
              {% endfor %}
            </div>
         
        </form>        
        {% else %}
        <a href="">Login to add song to playlist</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
